@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap&family=Open+Sans&display=swap');

/* #2C4251 #C1C1C1 #444140 #00BCD4*/

.header-grid {
  display: grid;
  grid-columns-template: 1fr;
  grid-gap: 10px;
  font-family: "Koh Santepheap", "Times New Roman", serif;
  background-color: #2C4251;
  color: #00bcd4;
  border-radius: 10px;
}

.header-grid h1 {
  grid-column: 2;
}

header img {
  border-radius: 10px;
  max-width: 100%;
  margin: 10px 25% 10px 23%;
}

.content {
  max-width: 50%;
  margin:0 auto;
  background-color: #C1C1C1;
  border-radius: 10px;
}

body {
  background-color: #C1C1C1;
}

main {
  background-color: #444140;
  color: #00bcd4;
  font-family: "Koh Santepheap", "Times New Roman", serif;
}

main h2{
  background-color: #2C4251;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 7px;
  border-bottom: 2px solid black;
}

main li{
  margin: auto;
  text-align: center;
  list-style-position: inside;
  list-style: none;
  align-items: center;
  margin-right: 4rem;
}

.sep_hr {
  /*max-width: 75%;*/
  margin-left: 0;
  border: 1px solid black;
}

.more_lines {
  color: lightgray;
  font-size: 10px;
}

footer {
  font-family: "Open Sans", Helvetica, sans-serif;
  background-color: #2C4251;
  text-align: center;
  border-radius: 10px;
  color: #00bcd4;
}

.time_stamp {
  font-size: 13px;
}
 