@media only screen and (max-width: 1028px) {

header, footer, nav, main {max-width: 75rem; margin: auto;}

.header-grid{
    max-width: 60%;
}

main figure {width: 31%;}

div.news {column-count: 3;}

.content {
    display: block;
}

}