/* structure classes: header-grid, date, nav, content, footer */
/* main.classes: h1, hero, events, weather, news, spotlight1, spotlight2 */
#header-grid{
    display: flex;
}

header img{
    justify-content: flex-start;
    max-width: 100px;
    max-height: 100px;
}

nav ul li{
    justify-content: space-evenly;
}

footer {
    display: flex;
}

nav ul li.active a {
    background-color: #000;
    color: #fff;
}

#content {
    display: flex;
    margin: auto;
}

#hero {
    justify-content: center;
    max-width: 8rem;
    column-span: 2/3;
    flex-direction: row 2/3;
    background-color: grey;
}

#events {
    flex-direction: column 1;
    flex-direction: row 1;
    background-color: grey;
}

/*#weather

#news

#spotlight1

#spotlight2*/