/* structure classes: header-grid, date, nav, content, footer */
/* main.classes: h1, hero, events, weather, news, spotlight1, spotlight2 */
#header-grid{
    display: flex;
}

header img{
    justify-content: flex-start;
    max-width: 100px;
    max-height: 100px;
}

footer {
    display: flex;
}

nav ul li.active a {
    background-color: #000;
    color: #fff;
}

#content {
    margin: auto;
}

#hero {
    justify-content: center;
}

#events {
    flex: left;
}

/*#weather

#news

#spotlight1

#spotlight2*/