.header-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    /* max-width: 50%; */
    font-family: "Koh Santepheap", "Times New Roman", serif;
    background-color: red;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: .75%;
    margin-top: 0.01%;
}
  
.header-grid h1 {
    text-align: center;
}

footer {
    font-family: "Open Sans", Helvetica, sans-serif;
    background-color: yellow;
    text-align: center;
    border-radius: 10px;
    min-height: 50px;
    text-align: center;
    padding-top: 7px;
    margin-top: 10px;
}
  
.time_stamp {
    font-size: 13px;
}
   
.content {
    display: grid;
    padding: 10px;
    column-gap: 20px;
    row-gap: 15px;
    border: 2px solid green;
    background-color: lightgrey;
    grid-template-columns: 33% 33% 33%;
    margin: auto;
    padding-right: 2%;
    text-align: center;
    border-radius: 5px;
}

img {
    max-width: 700px;
    max-height: 400px;
    text-align: center;
}

h2 {
    background: grey;
}

.column_1 {
    grid-column: 1;
    text-align: center;
    background-color: darkslategrey;
    max-width: 95%;
    border-radius: 5px;
}
.column_2{
    grid-column: 2;
    text-align: center;
    background-color: darkslategrey;
    max-width: 95%;
    border-radius: 5px;
}
.column_3{
    grid-column: 3;
    text-align: center;
    background-color: darkslategrey;
    max-width: 95%;
    border-radius: 5px;
}

.c1c {
    text-align: left;
    padding: 5px;
    background-color: whitesmoke;
}

.c2c {
    text-align: left;
    padding: 5px;
    background-color: whitesmoke;
}

.c3c {
    text-align: left;
    padding: 5px;
    background-color: whitesmoke;
}