.header-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    /* max-width: 50%; */
    font-family: "Koh Santepheap", "Times New Roman", serif;
    background-color: red;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: .75%;
    margin-top: 0.01%;
}
  
.header-grid h1 {

    text-align: center;
}

footer {
    font-family: "Open Sans", Helvetica, sans-serif;
    background-color: yellow;
    text-align: center;
    border-radius: 10px;
    min-height: 50px;
    text-align: center;
    padding-top: 7px;
    margin-top: 10px;
}
  
.time_stamp {
    font-size: 13px;
}
   
.content {
    display: grid;
    padding: 10px;
    column-gap: 20px;
    row-gap: 15px;
    border: 2px solid green;
    background-color: lightgrey;
}

img {
    max-width: 100%;
    max-height: 50%;
}

.column_1{
    grid-column: 1;

}
.column_2{
    grid-column: 2;
}
.column_3{
    grid-column: 3;
}